{% extends "admin/account/page.html" %}{% load i18n humanize %}
{% block title %}
    {% trans "Enquiry details" %}
{% endblock title %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Enquiries" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'crm-admin:enquiry-list' %}">{% trans "Enquiries" %}</a>  
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Enquiry details" %}
    </p>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Enquiry details" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Full name" %}
                </span>
            </div>
            <div class="grid__span-3">
                <p>{{object.full_name}}</p>
            </div>  
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Email" %}
                </span>
            </div>
            <div class="grid__span-3">
                <p><a href="mailto:{{object.email}}">{{object.email}}</a></p>
            </div>  
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Message" %}
                </span>
            </div>
            <div class="grid__span-3">
                <p>
                {{object.message|linebreaksbr}}
                </p>
            </div>  
        </div>
    </fieldset>
</div>

<div class="content__inner">
    {% if perms.crm.delete_action %}
    <a href="{% url 'crm-admin:enquiry-delete' object.id %}" class="btn btn--delete btn--transparent pull-right">
        {% trans "Delete Enquiry" %}
    </a>
    {% endif %}
</div>      
{% endblock content %}
