{% extends "admin/account/page.html" %}{% load i18n humanize %}
{% block title %}
    {% trans "Company details" %}
{% endblock title %}

{% block toolbar %}
    <a href="{% url 'crm-admin:company-update' object.id %}" 
        class="[ toolbar__item ] [ btn btn--change btn--small pull-right ]">
        <span class="fa fa-pencil"></span>
        {% trans "Edit Company" %}
    </a>
    <span class="toolbar__title">{% trans "Company" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'crm-admin:contact-list' %}">{% trans "Contacts" %}</a>  
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        <a href="{% url 'crm-admin:company-list' %}">{% trans "Companies" %}</a>  
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Company details" %}
    </p>
</div>

<div class="[ content__inner ]">
    <h1>{{object.name}}</h1>
    {% with object.contacts as object_list %}
        {% include 'admin/crm/contact_list.html' %}
    {% endwith %}
</div>

<div class="content__inner">
    {% if perms.crm.delete_company %}
    <a href="{% url 'crm-admin:company-delete' object.id %}" class="btn btn--delete btn--transparent pull-right">
        {% trans "Delete Company" %}
    </a>
    {% endif %}
    {% if perms.crm.change_company %}
    <a href="{% url 'crm-admin:company-update' object.id %}" class="btn btn--change">
        {% trans "Edit Company" %}
    </a>
    {% endif %}
</div>      
{% endblock content %}
