{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
    {% if object %}
        {% trans "Edit Action" %}
    {% else %}
        {% trans "Add a Action" %}
    {% endif %}
{% endblock title %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Action" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'crm-admin:action-list' %}">{% trans "Action" %}</a>  
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% if object %}
            <a href="{% url 'crm-admin:action-detail' object.id %}">{{object}}</a>  
            &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
            {% trans "Edit Action" %}
        {% else %}
            {% trans "Add a Action" %}
        {% endif %}
    </p>
</div>
<form action="" method="post" class="form" enctype="multipart/form-data">
{% csrf_token %}
{% if form.non_field_errors %}
    <div class="content__inner">
        <div class="alert alert--error">
        {% for error in form.non_field_errors %}
            {{error}}<br>
        {% endfor %}
        </div>
    </div>
{% endif %}
{% if form.errors %}
    <div class="content__inner">
        <div class="alert alert--error">
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{error}}<br>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}
<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Action detail" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Title" %}
                </span>
            </div>
            <div class="grid__span-3">
                {% with form.title as field %}
                    {% include "admin/includes/text-field.html" %}
                {% endwith %}
            </div>  
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Description" %}
                </span>
            </div>
            <div class="grid__span-6">
                {% with form.description as field %}
                    {% include "admin/includes/text-field.html" %}
                {% endwith %}
            </div>  
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    &nbsp;
                </span>
            </div>
            <div class="grid__span-3">
                {% with form.completed as field %}
                    {% include "admin/includes/checkbox-field.html" %}
                {% endwith %}
            </div>  
        </div>
    </fieldset>
</div>
<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Due Date & Time" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Due date" %}
                </span>
            </div>
            <div class="grid__span-10">
                {% with form.due_date as field %}
                    {% include "admin/includes/text-field.html" %}
                {% endwith %}
            </div>  
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Due time" %}
                </span>
            </div>
            <div class="grid__span-10">
                {% with form.due_time as field %}
                    {% include "admin/includes/text-field.html" %}
                {% endwith %}
            </div>  
        </div>
    </fieldset>
</div>
{% if not contact %}
<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Contact" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Contact" %}
                </span>
            </div>
            <div class="grid__span-6">
                {% with form.contact as field %}
                    {% include "admin/includes/select-field.html" %}
                {% endwith %}
            </div>  
        </div>
    </fieldset>
</div>
{% endif %}
<div class="content__inner">
    <button type="submit" class="btn btn--primary">
        {% trans "Save" %}
    </button>
</div>
</form>
{% endblock content %}
