{% extends "admin/account/page.html" %}{% load i18n humanize %}
{% block title %}
    {% trans "Offer details" %}
{% endblock title %}

{% block toolbar %}
    <a href="{% url 'crm-admin:contact-update' object.id %}" 
        class="[ toolbar__item ] [ btn btn--change btn--small pull-right ]">
        <span class="fa fa-pencil"></span>
        {% trans "Edit Contact" %}
    </a>
    <span class="toolbar__title">{% trans "Contact" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'crm-admin:contact-list' %}">{% trans "Contact" %}</a>  
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Contact details" %}
    </p>
</div>

<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Name & Company" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Title" %}
                </span>
            </div>
            <div class="grid__span-3">
                <p>{{object.title_verbal}}</p>
            </div>  
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Full name" %}
                </span>
            </div>
            <div class="grid__span-3">
                <p>{{object.first_name}} {{object.last_name}}</p>
            </div>  
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Company" %}
                </span>
            </div>
            <div class="grid__span-3">
                <p>
                    <a href="{% url 'crm-admin:company-detail' object.company.id %}">
                        {{object.company}}
                    </a>
                </p>
            </div>  
        </div>
    </fieldset>
</div>
<div class="[ content__inner ] [ box box--padded box--bordered ]">
    <fieldset>
        <legend>{% trans "Categories" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    &nbsp;
                </span>
            </div>
            <div class="grid__span-3">
                <p>
                {% for c in object.category.all %}
                    <a href="{% url 'crm-admin:category-detail' c.id %}">{{c}}</a><br>
                {% endfor %}
                </p>
            </div>  
        </div>
    </fieldset>
</div>

<div class="content__inner">
    {% if perms.crm.delete_contact %}
    <a href="{% url 'crm-admin:contact-delete' object.id %}" class="btn btn--delete btn--transparent pull-right">
        {% trans "Delete Contact" %}
    </a>
    {% endif %}
    {% if perms.crm.change_contact %}
    <a href="{% url 'crm-admin:contact-update' object.id %}" class="btn btn--change">
        {% trans "Edit Contact" %}
    </a>
    {% endif %}
</div>      
{% endblock content %}
