{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
    {% trans "Category" %}
{% endblock title %}

{% block toolbar %}
    {% if perms.crm.add_category %}
    <a href="{% url 'crm-admin:category-add' %}"
        class="[ toolbar__item ] [ btn btn--create btn--small pull-right ]">
        <span class="fa fa-plus"></span> {% trans "Add a Category" %}
    </a>
    {% endif %}
    <span class="toolbar__title">{% trans "Category" %}</span>
{% endblock toolbar %}

{% block content %}

<div class="[ content__inner ]">
    <p class="breadcrumb">
        <a href="{% url 'crm-admin:contact-list' %}">{% trans "Contacts" %}</a>  
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% trans "Categories" %}
    </p>
</div>

<div class="grid grid--collapse">
    <div class="grid__span-12">
        <div class="content__inner">
            <table class="table table--clickable">
                <tr class="table-row">
                    <th class="table-head-cell">{% trans "Title" %}</th>
                    <th class="table-head-cell">{% trans "Slug" %}</th>
                    <th class="table-head-cell">{% trans "Active" %}</th>
                    <th class="table-head-cell"></th>
                </tr>
                {% for object in object_list %}
                <tr class="table-row" 
                    onClick="window.location = '{% url 'crm-admin:category-detail' object.id %}'">
                    <td class="table-cell">{{object.title}}</td>
                    <td class="table-cell">{{object.slug}}</td>
                    <td class="table-cell">
                        {% if object.active %}
                            <span class="fa fa-check fa-green"></span>
                        {% else %}
                            <span class="fa fa-remove fa-red"></span>
                        {% endif %}
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'crm-admin:category-detail' object.id %}">
                            {% trans "Update" %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
