{% load i18n %}<table class="table table--clickable">
<tr class="table-row">
    <th class="table-head-cell">{% trans "Name" %}</th>
    <th class="table-head-cell">{% trans "Email" %}</th>
    <th class="table-head-cell">{% trans "Contact number" %}</th>
    <th class="table-head-cell">{% trans "Company" %}</th>
    <th class="table-head-cell">{% trans "Categories" %}</th>
    <th class="table-head-cell">{% trans "Actions" %}</th>
</tr>
{% for object in object_list %}
<tr class="table-row" 
    onClick="window.location = '{% url 'crm-admin:contact-detail' object.id %}'">
    <td class="table-cell">
        <a href="{% url 'crm-admin:contact-detail' object.id %}">
            {{object}}
        </a>
    </td>
    <td class="table-cell">
        <a href="mailto:{{object.email}}">
            {{object.email}}
        </a>
    </td>
    <td class="table-cell">
        {{object.contact_number}}
    </td>
    <td class="table-cell">
        {% if object.company %}
            {{object.company}}
        {% endif %}
    </td>
    <td class="table-cell">
        {{object.category.all|join:", "}}
    </td>
    <td class="table-cell">
        {% if object.actions %}
            <span class="label">{{object.actions.count}}</span>
        {% endif %}
    </td>
</tr>
{% empty %}
{% if first_letter %}
    <tr class="table-row">
        <td colspan="6" class="table-cell">
            {% trans "We found no contacts starting with:" %} {{first_letter}}
            - <a href="?">{% trans "Reset" %}</a>
        </td>
    </tr>
{% elif search_query %}
    <tr class="table-row">
        <td colspan="6" class="table-cell">
            {% trans "We found no contacts matching your query:" %} {{search_query}}
            - <a href="?">{% trans "Reset" %}</a>
        </td>
    </tr>
{% else %}
    <tr class="table-row">
        <td colspan="6" class="table-cell">
            {% trans "There are no contacts in the database" %}
            - <a href="{% url 'crm-admin:contact-add' %}">{% trans "Add the first contact" %}</a>
        </td>
    </tr>
{% endif %}
{% endfor %}
</table>