{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}
    {% trans "Enquiries" %}
{% endblock title %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Enquiries" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="grid grid--collapse">
    <div class="grid__span-12">
        <div class="content__inner">
            <table class="table table--clickable">
                <tr class="table-row">
                    <th class="table-head-cell">{% trans "Name" %}</th>
                    <th class="table-head-cell">{% trans "Email" %}</th>
                    <th class="table-head-cell">{% trans "Received" %}</th>
                    <th class="table-head-cell"></th>
                </tr>
                {% for object in object_list %}
                <tr class="table-row{% if object.overdue %} table-row--red{% endif %}" 
                    onClick="window.location = '{% url 'crm-admin:enquiry-detail' object.id %}'">
                    <td class="table-cell">{{object.full_name}}</td>
                    <td class="table-cell">
                        <a href="mailto:{{object.email}}">{{object.email}}</a>
                    </td>
                    <td class="table-cell">
                        {{object.date_created|date:"d F Y - g:i A"}}
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'crm-admin:enquiry-detail' object.id %}">
                            {% trans "Read" %}
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr class="table-row">
                    <td colspan="4" class="table-cell">
                        {% trans "No enquiries received." %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
